.home{
    display:flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
}

.landing{
    margin-top: 100px;
    padding-top: 60px;
    width: 100%;
    height: 200px;
    background-color: rgba(153, 207, 228, 0.7);
    display: inline-block;
    text-align: center;
}

.landing-title{
    display: flex;
    justify-content: center;
}

.title{
    margin-top: 150px;
    font-family: Cantarell, serif;
    font-size: 70px;
}



