.hotels-wrapper {
    padding-left: 100px;
}

.hotel-wrapper {
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
}

.hotel-element{
    margin-right: 50px;
}

.hotel-label{
    font-weight: bold;
    font-size: 15px;
}
