.formHome{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px lightgrey;
    border-radius: 10px;
    padding: 35px;
}

.inputFieldHome{
    margin-top: 5px;
    margin-left: 31px;
    border-radius: 5px;
}

.inputFieldHomePassword{
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 5px;
}

.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginButtonHome{
    width: 120px;
    height: 30px;
    margin-top: 25px;
    border-radius: 5px;
    background-color: lightseagreen;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.loginButtonHome:hover{
    background-color: white;
    color: lightseagreen;
}

.register-text{
    text-align: center;
    color: lightseagreen;
    font-size: 12px;
    margin-top: 20px;
}

