.user-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    width: 100px;
    height: 40px;
    margin-top: 25px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #bc8e05;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover{
    background-color: white;
    color: #bc8e05;
}

.logoutDiv{
    width: 100%;
    height: 50px;
    position: relative;
}

.logoutBtn{
    position: fixed;
    right: 50px;
}

.onlyRating {
    margin-top: 20px;
}

.rating-title{
    color:  #bc8e05;
}

.text {
    color:  #bc8e05;
    margin-bottom: 20px;
}

.selector{
    margin-bottom: 40px;
}

.textarea{
    width: 500px;
    height: 350px;
    margin-bottom: 40px;
}

.ratingfield{
    margin-bottom: 40px;
}
