.my-reservations-wrapper{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.reservations-title{
    color: #bc8e05;
}

.reservations-table{

}

.row{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    border: solid 1px black;
}

.data{

}
