.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
    margin-top: 50px;
    /*width: 100%;*/
}

.profile-wrapper{
    display: flex;
}

.profile-picture{
    margin-left: 250px;
    opacity: 0.6;
    margin-top: 100px;
}

.inputFieldProfile {
    margin-top: 15px;
    width:350px;
}

.saveChangesBtn{
    width: 120px;
    height: 30px;
    margin-top: 25px;
    border-radius: 5px;
    background-color: lightseagreen;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.saveChangesBtn:hover{
    background-color: white;
    color: lightseagreen;
}

.button-wrapper{
    display: flex;
    flex-direction: column;
}
