.allClientPage{
    display: flex;
}

.error-message{
    color: red;
}

.success-message{
    color: green;
}

.msg{
    font-size: 20px;
    font-weight: bold;
}

.reservation-form-wrapper {
}

.reservation-title {
    margin-bottom: 50px;
    color: #bc8e05;
}

.reservation-form {
    display: flex;
}

.reservation-fieldss{
    display: flex;
    flex-direction: column;
}

.inputField {
    margin-left: 70px;
}

.label-c {
    margin-left: 70px;

}

.label-cancel{
}

.fild-cancel{
    margin-top: 15px;
}

.cancel-image{
    margin-left: 70px;
}

.reservation-btn {
    width: 100px;
    height: 30px;
    margin-top: 25px;
    margin-left: 150px;
    border-radius: 5px;
    background-color: #bc8e05;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.reservation-btn:hover {
    background-color: white;
    color: #bc8e05;
}

.cancel-reservation-btn {
    width: 200px;
    height: 30px;
    margin-top: 25px;
    margin-left: 150px;
    border-radius: 5px;
    background-color: #bc8e05;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.cancel-reservation-btn:hover {
    background-color: white;
    color: #bc8e05;
}



