.menu {
    background-color: lightseagreen;
    opacity: 0.70;
    //position: fixed;
    top: 0px;
    width: 100%;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    height: 120px;
    display: flex;
    flex-direction: column;
}


.menu__list {
    height: 90%;
    list-style-type: none;
    padding: 0;
    margin-top: -5px;
    margin-left: 40px;
}

.menu__list-item {
    margin-top: -10px;
    height: 90%;
    display: inline-block;
    margin-left: 24px;
}

.menu__link {
    margin-top: -15px;
    color: white;
    height: 90%;
    font-size: 21px;
    text-transform: uppercase;

}

.menu__link:hover {
    color: lightgray;
}

.menu__link--active {
    color: #2BA6E7;
    border-top: 4px solid #2BA6E7;
    font-weight: 700;
}

.menu__logo {
    text-indent: -9999999px;
    margin-top: 0px;
    margin-left: 50px;
    width: 92px;
    height: 90%;
    background-repeat: no-repeat;
}
