.admin-wrapper {

}

.admin-hospital {
    display: flex;
    padding-bottom: 100px;
}

.admin-doctor-wrapper {
    display: flex;
    margin-top: 70px;
    margin-bottom: 70px;
}

.admin-user-wrapper {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.admin-title{
    color: lightseagreen;
    font-size: 25px;
    font-weight: bold;
    margin-right: 30px;
    padding-top: -30px;
}

.error-message{
    color: red;
    margin-left: 20px;
}

.label {
    width: 50px;
    margin-left: 100px;
}

.label-da{
    width: 50px;
    margin-right: 100px;
    margin-top: 15px;
}

.inputFieldHospitalAdmin {
    margin-top: 15px;
    margin-left: 100px;
}

.inputFieldDoctorAdmin {
    margin-top: 5px;
    margin-right: 120px;
}

.saveHospitalBtn {
    width: 100px;
    height: 30px;
    margin-top: 25px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: lightseagreen;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.saveHospitalBtn:hover{
    background-color: white;
    color: lightseagreen;
}

.functionalButtons{
   margin-left: 120px;
}

.deleteUserBtn{
    margin-left: 200px;
}
