.notification-form-container{
    display: flex;
}

.notification-form{
    margin-right: 250px;
}

.inputFieldNotificationAdmin {
    margin-top: 5px;
    margin-right: 120px;
}

.textAreaDiiv{
    margin-left: 100px;
    margin-top: 7px;
}

.sendButton{
    margin-left: 200px;
    margin-top: 25px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: lightseagreen;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.sendButton:hover{
    background-color: white;
    color: lightseagreen;
}
