.admin-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoutBtn {
    width: 100px;
    height: 30px;
    margin-top: 25px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: lightseagreen;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.logoutBtn:hover{
    background-color: white;
    color: lightseagreen;
}