.back{
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    height: 670px;
    align-items: center;
}

.allChart{
    flex-direction: column;
    margin-top: 250px;
}

.chart2{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
